<div class="navbar navbar-expand-lg navbar-dark bg-dark">
<a href="" class="navbar-brand active">FoodShala</a>

    <ul class="nav navbar-nav float-sm-right">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="loginService.isUserLoggedIn() && role=='restaurant'">
            <a href="restaurant-menu" class="nav-link">Restaurant Menu</a>
        </li>
    </ul>

    <ul class="nav navbar-nav float-sm-right ml-auto">
        
        <li class="nav-item">
            <a href="login" class="nav-link" *ngIf="!loginService.isUserLoggedIn()">Login</a>
        </li>
        
        <li class="nav-item">
            <a href="register-customer" class="nav-link" *ngIf="!loginService.isUserLoggedIn()">Register-User</a>
        </li>

        <li class="nav-item">
            <a href="register-restaurant" class="nav-link" *ngIf="!loginService.isUserLoggedIn()">Register-Restaurant</a>
        </li>
      
        <li class="nav-item" *ngIf="loginService.isUserLoggedIn() && role=='restaurant'">
          <a href="add-food-item" class="nav-link">Add Food Items </a>
        </li>  
          <li class="nav-item" *ngIf="loginService.isUserLoggedIn() && role=='customer'">
            <a href="" class="nav-link">Cart</a>
          </li>
        
          <li class="nav-item">
            <a href="logout" class="nav-link" *ngIf="loginService.isUserLoggedIn()" >Log Out</a>
        </li>
       
       
    </ul>
</div>