<div class="navbar navbar-expand-lg navbar-dark bg-dark">
<a href="" class="navbar-brand active">FoodShala</a>

    <ul class="nav navbar-nav float-sm-right">
        <li class="nav-item">
            <a href="" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Restaurant Menu</a>
        </li>
    </ul>

    <ul class="nav navbar-nav float-sm-right ml-auto">
        
        <li class="nav-item">
            <a href="login" class="nav-link" *ngIf="!loginService.isUserLoggedIn()">Login</a>
        </li>
        
        <li class="nav-item dropdown">
            <a *ngIf="loginService.isUserLoggedIn()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{uname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Orders</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              
            </div>
          </li>
        
          <li class="nav-item" *ngIf="loginService.isUserLoggedIn() && isCustomer=='customer'">
            <a href="" class="nav-link">Cart</a>
          </li>
        
          <li class="nav-item">
            <a href="logout" class="nav-link" *ngIf="loginService.isUserLoggedIn()" >Log Out</a>
        </li>
       
       
    </ul>
</div>