<app-navbar></app-navbar>
<div class="container mt-5">
    <h3>Cart</h3>
</div>

<div class="row mt-2">
    <div class="col col-md-8 ">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-6" *ngFor="let item of items">
                <div class="card mt-3 " style="height:90%">
                    <div class="card-header d-flex" *ngIf="item.foodItem.foodType=='veg'">
                            <h4 class="text-success">{{item.foodItem.foodName}}</h4> 
                            <h5 class="ml-auto text-success" style="text-transform: capitalize; font-style: italic;">{{item.foodItem.foodType}}</h5>
                    </div>
                    <div class="card-header" *ngIf="item.foodItem.foodType=='non-veg'">
                        <h4 class="text-danger">{{item.foodItem.foodName}}</h4>
                    </div>
                    <div class="card-body">
                        <h4 style="font-style:italic">By: {{item.foodItem.restaurant.restaurantName}}</h4>
                        <h5 style="font-style:italic">{{item.foodItem.restaurant.address}}</h5>
                        <h5 style="font-style:italic; margin-bottom: 20px;">Price: {{item.foodItem.price}}</h5>
                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-4">
                                <button class="btn btn-outline-danger btn-block" (click)="decreaseQuantity(item.foodItem.foodId)">-</button>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-4 text-center">
                                <h3>{{item.quantity}} </h3>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-4">
                                <button class="btn btn-outline-success btn-block" (click)="increaseQuantity(item.foodItem.foodId)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-4">
        <h1 class="text-center">hello</h1>
    </div>
</div>